/node_modules
/public/hot
/public/storage
/public/files
/public/images
/storage/*.key
/storage/framework/laravel-excel/*
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.vscode